@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    transition: all 200ms;
}

.container {
    margin: 15px auto;
    width: 350px;
}
